@model Labb1.ViewModels.CartViewModel
@*IEnumerable<Labb1.Models.CartItem>*@

@{
    ViewData["Title"] = "Index";
}

<h1>Din kundkorg</h1>


@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<h3>Aktuella produkter</h3>

    @if (Model != null && Model.CartItems.Count() > 0)
    {
        @*<form method="post" asp-action="ConfirmOrder">*@
        using (Html.BeginForm("ConfirmOrder", "Cart", FormMethod.Post))
        {
            <table cellpadding="2" cellspacing="2" border="1" style="text-align:center">
                <tr>
                    @*@Html.DisplayFor(modelitem => Model.Id)*@
                    <th>Produkt</th>
                    <th>Pris</th>
                    <th>Antal</th>
                    <th>Total</th>
                </tr>
                <tbody>

                    @*@foreach (var item in ViewBag.cart) {*@
                    <tr>
                        <td>
                            Produkt
                        </td>
                        <td>
                            Pris
                        </td>
                        <td>
                            Antal
                        </td>
                        <td>
                            Total
                        </td>
                        @*<td>
                                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                            </td>*@
                    </tr>
                    @*}*@

                    @foreach (var item in Model.CartItems)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Price)
                            </td>
                            <td>
                                @*<img src="~/images/@item.Product.ImageURL" width="60" />*@
                                <img class="thumbnail" style="background-image: url('@item.Product.ImageURL');">
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>

                            @*<td><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">Remove</a></td>*@
                            @*<td>@item.Product.Id</td>*@




                            @*<td>@item.Product.Name</td>
                                <td>@item.Product.Price</td>
                                <td>@item.Quantity</td>
                                <td>@(item.Product.Price * item.Quantity)</td>*@
                        </tr>

                    }
                    <tr>
                        <td align="right" colspan="6">Sum</td>
                        <td>
                            @*@Model.TotalPrice*@
                            @Html.DisplayFor(modelItem => modelItem.TotalPrice)
                        </td>
                    </tr>



                </tbody>
            </table>
            <div style="margin-bottom:25px">
                <input type="submit" class="float-right btn btn-success" value="Place Order" />
            </div>
            <tfoot>
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => Model.CartItems)
                        @Html.HiddenFor(modelitem => Model.TotalPrice)
                    </td>
                </tr>
            </tfoot>
        }
        @*</form>*@
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            Din varuvagn är tom
        </div>
    }

