@model Labb1.ViewModels.CartViewModel
@*IEnumerable<Labb1.Models.CartItem>*@

@{
    ViewData["Title"] = "Index";
}

<h1>Din kundkorg</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@


@if (Model != null && Model.CartItems.Count() > 0)
{
    @*<form method="post" asp-action="ConfirmOrder">*@
    using (Html.BeginForm("ConfirmOrder", "Cart", FormMethod.Post))
    {

        <table id="test" class="table table-responsive-xs table-responsive-sm border-top-0 border-left-0 border-right-0 mx-auto">
            <thead class="border-bottom-0" >
                <tr id="cartHead" >
                    <th class="border-bottom-0 cartItemPic"></th>
                    <th class="border-bottom-0 cartItemName" style="vertical-align: middle">Produkt</th>
                    <th class="border-bottom-0 price">Pris</th>
                    <th class="border-bottom-0 quantity">Antal</th>
                    <th class="border-bottom-0 trashBin"></th>
                </tr>
            </thead>
            <tbody class="cartBody">

                @foreach (var item in Model.CartItems)
                {
                <tr class="titleBefore">
                    <td class="cartItemPic">
                        @*<img src="~/images/@item.Product.ImageURL" width="60" />*@
                        <img class="thumbnail" id="cartThumbnail" style="background-image: url('@item.Product.ImageURL');">
                    </td>
                    <td class="cartItemName">
                        <span style="vertical-align: middle">@Html.DisplayFor(modelItem => item.Product.Name)</span>
                    </td>
                    <td class="price">
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td id="quantity" class="quantity">
                        @if (item.Quantity <= 0)
                        {
                            <a asp-action="ReduceFromCart" asp-controller="Cart" class="fas fa-minus" asp-route-id="@item.Product.Id"
                               style="pointer-events: none; cursor: default; text-decoration: none;"></a>

                            @*<button asp-action="ReduceFromCart" asp-controller="Cart" asp-route-id="@item.Product.Id" type="button" disabled><i class="fas fa-minus-circle"></i></button>*@
                        }
                        else
                        {
                            <a asp-action="ReduceFromCart" asp-controller="Cart" class="fas fa-minus" asp-route-id="@item.Product.Id" style="text-decoration: none;"></a>
                            @*<button onclick="location.href='@Url.Action("ReduceFromCart", "Cart", @item.Product.Id)';return false;" type="button"><i class="fas fa-minus-circle"></i></button>*@
                        }
                        <span>@Html.DisplayFor(modelItem => item.Quantity)</span>
                        <a asp-action="IncreaseInCart" asp-controller="Cart" class="fas fa-plus" asp-route-id="@item.Product.Id" style="text-decoration: none;"></a>
                    </td>

                        @*<td><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.Id">Remove</a></td>*@
                        @*<td>@item.Product.Id</td>*@
                    <td class="trashBin" id="trashBin3" style="border-right: none; border-bottom: none">
                        <a asp-action="RemoveFromCart" asp-controller="Cart" class="fas fa-trash-alt" asp-route-id="@item.Product.Id" style="text-decoration: none; color: red"></a>

                    </td>

                </tr>
            }
                @*<tr>
                    <td align="right" colspan="6" >
                        <span><b>Summa&nbsp;</b></span>
                        <span>@Model.TotalPrice.ToString("C0")</span>
                    </td>
                </tr>*@

                </tbody>
            </table>

            <div style="margin-bottom:70px; float: right">
                <div style="margin-bottom: 10px">
                    <span><b>Summa&nbsp;</b></span>
                    <span>@Model.TotalPrice.ToString("C0")</span>
                </div>
                <div style="float:right">
                    <input type="submit" class="btn btn-success" value="Betala" />
                </div>
            </div>



            <tfoot class="table table-responsive-xs table-responsive-sm table-borderless mx-auto">
                <tr>
                    <td>
                        @Html.HiddenFor(modelItem => Model.CartItems)   
                        @Html.HiddenFor(modelItem => Model.TotalPrice)
                    </td>
                </tr>
            </tfoot>
        }
        @*</form>*@
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            Din varuvagn är tom
        </div>
    }

