@model Labb1.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "OrderConfirmed";
}

<h4 class="display-4">Tack för din order!</h4>
<p></p>
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div class="container" id="orderContainer">
    <div class="row">
        <div class="card col-md-4" style="padding: 5px">
            <div class="card-body">
                <div>
                    <b>Orderdatum</b>
                    <p>
                        @*@Html.LabelFor(modelItem => modelItem.Order.OrderDate)*@
                        @Model.Order.OrderDate.ToString("yyyy MMMM dd HH:mm:ss")
                    </p>

                    @*@Html.DisplayFor(modelItem => modelItem.Order.OrderDate)*@
                </div>
                <b>Leveransadress</b>
                <address>
                    @Html.DisplayFor(modelItem => modelItem.User.FirstName)
                    @Html.DisplayFor(modelItem => modelItem.User.LastName)
                </address>
                <address>
                    @Html.DisplayFor(modelItem => modelItem.User.StreetAddress)<br />
                    @Html.DisplayFor(modelItem => modelItem.User.ZipCode)<br />
                    @Html.DisplayFor(modelItem => modelItem.User.City)<br />
                </address>
                @*<b>Leveransadress</b>
            <p>
                <span>@Html.DisplayFor(modelItem => modelItem.User.FirstName)</span>
                <span>@Html.DisplayFor(modelItem => modelItem.User.LastName)</span>
            </p>
            <div id="streetAdress">
                <p>@Html.DisplayFor(modelItem => modelItem.User.StreetAddress)</p>
                <p>@Html.DisplayFor(modelItem => modelItem.User.ZipCode)</p>
                <p>@Html.DisplayFor(modelItem => modelItem.User.City)</p>
            </div>
        </div>*@

            </div>
        </div>
        <div class="card col-md-8" @*style="position: relative"*@ id="orderProducts">
            <table class="table table-striped table-borderless flex-grow-1" id="orderTable">
                <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Pris</th>
                        <th>Antal</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Order.OrderProducts)
                    {
                        <tr>
                            <td id="orderItemName">
                                @Html.DisplayFor(modelItem => item.Product.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Product.Price)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Quantity)
                            </td>
                        </tr>
                    }
                </tbody>
                @*@foreach (var item in Model.Order.OrderProducts)
            {
                <p>
                    <span>@Html.DisplayFor(modelItem => item.Quantity) * </span>
                    <span>@Html.DisplayFor(modelItem => item.Product.Name)</span>
                    <span>@Html.DisplayFor(modelItem => item.Product.Price)</span>
                </p>

            }*@

            </table>
            <div id="sum">
                <span><b>Summa&nbsp;</b></span>
                <span>@Model.Order.TotalPrice.ToString("C0")</span>
            </div>
        </div>
    </div>
</div>






@*<table class="table">
    <thead>
        <tr>
            <th>
                <div>
                    @Html.LabelFor(modelItem => modelItem.Order.OrderDate)
                    @Model.Order.OrderDate.ToString("yyyy MMMM dd HH:mm:ss")

                    @Html.DisplayFor(modelItem => modelItem.Order.OrderDate)
                </div>
            </th>
            <td>
                @Html.DisplayFor(modelItem => modelItem.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.User.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.User.Country)
            </td>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <thead>*@


        @*<tr>
            @Html.DisplayNameFor(model => new OrderProduct().Product.Name)
        </tr>
        <tr>
            @Html.DisplayNameFor(model => new OrderProduct().Product.Price)
        </tr>
        <tr>
            @Html.DisplayNameFor(model => new OrderProduct().Quantity)
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Order.OrderProducts)
    {
        <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ImageURL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>*@

        @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        @*</tr>
    }*@
    @*</tbody>
</table>*@
@*<tfoot>
    <tr>
        <td>
            @Html.LabelFor(modelItem => modelItem.Order.TotalPrice)
            @Html.DisplayFor(modelItem => modelItem.Order.TotalPrice)
        </td>
    </tr>
</tfoot>*@
