@model Labb1.Models.Product

@{
    ViewData["Title"] = "ProductDetail";
}


        <div class="container border box-shadow mt-5" style="text-align: center; overflow:hidden; ">
            <div class="text-center" style="padding: 10px;">
                <div class="row">
                    <div class="col">
                        <h4>@Model.Name</h4>
                        <h5>@Model.Price.ToString("C0")</h5>
                        <p>@Model.Description</p>
                        <div>
                            <button onclick="history.back()" class="btn btn-primary text-white detailBtn">Tillbaka</button>
                            <button onclick="AddToCart('@Model.Id')" class="btn btn-success text-white detailBtn">Köp</button>
                        </div>
                    </div>
                    <div class="col detailImgContainer">
                        <img class="productDetailImg" style="background-image: url('@Model.ImageURL')">
                    </div>

                </div>
            </div>
        </div>


